body {
  line-height: 1.4;
  padding: 1rem;
}

.signature-pad-form {
  max-width: 300px;
  margin: 0 auto;
}

.signature-pad {
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 4px;
}

.clear-button {
  color: #000
}

.submit-button {
  width: 100%;
  background-color: #000;
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  margin-top: 2rem;
}

/*@media (pointer: coarse) {
  body {
    overflow: hidden;
  }
}*/