* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F4F4F4;
    
}

/* Barra superior */
.sidebar {
    width: 100%;
    height: 95px;
    background-color: #092034;
    padding: 0 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo-container {
    display: flex;
    align-items: center;
}
.logo-container img {
    max-height: 60px;
    width: auto;
}

/* Menú horizontal */
.menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-left: 100px;
    margin-top: -50px;  
}

/* Ítems del menú */
.menu-item {
    display: flex;
    align-items: center;
    gap: 2px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.menu-item img {
    width: 24px;
    height: 24px;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 5px 10px;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #092034;
    min-width: 200px;
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Botón cerrar sesión */
.logout {
    margin-left: auto;
}
.logout .menu-item {
    padding: 5px 10px;
}
.titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
}