
/* Contenido principal */
.main-content {
    flex-grow: 1;
    background-color: #F4F4F4;
    padding: 30px;
    overflow-x: auto;
    margin-top: -50px;
}

/* Botones */
.button {
    background-color: #BC8A55;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.button:hover {
    background-color: #092034;
}

/* Tabla de habitaciones */
.container_rack {
    max-width: 1200px;
    overflow-x: auto;          /* Activa scroll horizontal */
    overflow-y: auto;          /* Scroll vertical si se necesita */
    padding-left: 20px;
    margin: 0;
}

.reservado {
    background-color: #BC8A55;
    color: black;
}

table {
    border-collapse: collapse;
    min-width: 1400px; /* ajusta según el número de columnas */
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #999;
    text-align: center;
    padding: 5px;
}

th {
    background-color: #092034;
    color: white;
}

input, button {
    margin: 5px 0;
    padding: 5px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 120px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}

#btn-modal {
    margin-top: 10px;
}

