/*seccion de alerta de eliminacion de anfitriones*/
.contenedor-alerta-cerrar-sesion{
    position: absolute;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 40%;
    height: 40%;
    transform: translate(70%, 70%);
    border-radius: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    justify-content: center!important;
    display: none;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    
}
.titulo-alerta-cerrar-sesion{
    font-size: xx-large;
}
.icono-completado-cerrar-sesion{
    width: 200px;
    height: 200px;
}
.btn-cerrar-sesion,.btn-cerrar-sesion-cancelar{
    background-color: #092034;
    width: 110px!important;
    height: 50px!important;
    border-radius: 0.5rem;
    color: white;
    transition: all 0.3s ease;
    margin-top: 20px;
}
.btn-cerrar-sesion:hover{
    background-color: #e67e22;
    transform: scale(1.2);
}
.btn-cerrar-sesion-cancelar:hover{
    background-color: #bdc3c7;
    transform: scale(1.2);
}
.contenedor-aceptar-cancelar{
    display: flex;
    gap: 30px;
}
/*fin de seccion de alerta de Elimininacion de anfitriones*/

.mostrar-sidebar{
    margin-top: 56px;
    margin-left: 20px;
    color: white;
    font-size: 35px;
    display: none;
    width: 75px;
    height: 75px;
    background-color: blue;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    background-color: #092034;

}

.mostrar-sidebar:hover{
    background-color: #BC8A55;
    transform: scale(1.05);
}


.secciones {
  grid-column: span 3;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 2200px) {
  .secciones {
    flex-direction: row!important;
  }

  .secciones > section {
    flex: 1!important;
  }
  .bienvenida {

    overflow-y: none;
  }
}



@media(max-width:1920px){
  #mision{
    display: flex!important;

  }
 .tarjeta1,.tarjeta2,.tarjeta3{
  width: 100%;
  max-width: 100%;


  }
  .bienvenida {
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
  }
  .secciones {
    display: flex !important;
    flex-direction: row;
    width: 100% !important;
    gap: 1rem;
  }
  #valores-y-guias-magicas{
    margin-bottom: 100px;
  }


}

@media(max-width:480px){
  .secciones {
    flex-direction: column!important;
  }

  .secciones > section {
    width: 100%;
  }
  .contenedor-alerta-cerrar-sesion{
    width: 50%;
    height: 30%;
    transform: translate(70%, 90%);
  }
  .btn-cerrar-sesion,.btn-cerrar-sesion-cancelar{
    width: 80px!important;

  }
}
@media(max-width:391px){
    .contenedor-alerta-cerrar-sesion{
    width: 55%!important;
    height: 30%;
    transform: translate(60%, 90%);
  }
}