
.navbarpropiedades {
    display: grid;
    grid-template-areas: "logo menu search";
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    background-color: #ece7e777;
    padding: 10px;
    color: white;
}

.logo {
    grid-area: logo;
    font-size: 20px;
    font-weight: bold;
}

div.menu {
    grid-area: menu;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 20px;
    
}

.menu a {
    color: rgb(0, 0, 0);
    font-family: 'Houschka Pro', sans-serif;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.menu a:hover {
    background-color: #b39494;
}

.search {
    grid-area: search;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.search button {
    background-color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}