.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

.propiedad-card, .process-card, .subprocess-card, .indicator-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    
}

.propiedad-card:hover, .process-card:hover, .subprocess-card:hover, .indicator-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(218, 164, 18, 0.1);
}   
.propiedad-card .card-header {
    background: linear-gradient(135deg, #092034 0%, #092034 100%);
    color: white;
    padding: 20px;
    text-align: center;
}

.process-card .card-header {
    background: linear-gradient(135deg, #092034 0%, #092034 100%);
    color: white;
    padding: 20px;
    text-align: center;
}

.subprocess-card .card-header {
    background: linear-gradient(135deg, #092034 0%, #092034 100%);
    color: white;
    padding: 20px;
    text-align: center;
}

.indicator-card .card-header {
   background: linear-gradient(135deg, #092034 0%, #092034 100%);
    color: white;
    padding: 20px;
    text-align: center;
}

.card-header i {
    display: block;
    margin-bottom: 10px;
}

.card-header h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.card-body {
    padding: 15px;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.stat {
    text-align: center;
    font-size: 0.9rem;
    color: #5a5c69;
}

.stat i {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #4e73df;
}

.mini-chart-container {
    height: 120px;
    margin: 10px 0;
}

.indicator-meta {
    font-size: 0.8rem;
    color: #858796;
}

.indicator-meta div {
    margin-bottom: 5px;
}

.indicator-meta i {
    margin-right: 5px;
    width: 15px;
    text-align: center;
}

.card-actions {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border-top: 2px solid #A96D35;
    
}

.btn-action {
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    border-radius: 20%;
    margin-left: 5px;
    cursor: pointer;
    transition: background 0.2s;
}
.average-values, .average-values span {
    font-family: poppins, sans-serif;
    margin-left: 10px;
    font-size: 1.1rem;
}

.btn-action.edit i {
   color: black;
}


.btn-action.delete i {
    color: red;
}



.btn-action:hover {
    i {
        color: #4e73df;
        
        
    }
}
@keyframes pulse {
    from {
        size: 1;
    }
    to {
        size : 1.1;
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 576px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}