@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('path/to/HouschkaPro.woff2') format('woff2'),
         url('path/to/HouschkaPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display:    flex;
    justify-content: right;
    align-items: center;
    
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #bc8a55;
    color: white;
    cursor: pointer;
}

.contenedor1{
    flex:1;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}
.contenedor2{
    flex:2;
    justify-content: center;
    align-items: center;
    flex-grow:1;
}

input{
    padding: 10px;
    border: 2px solid #bc8a55;
    border-radius: 17px;
    width: 100%;
    margin-bottom: 10px;
    
}