body{
    font-family: 'Poppins', sans-serif;
}
.contenedor {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.contenedor1{
    flex:1;
    justify-content: center;
    align-items: center;
    flex-grow: 2;

}
.contenedor2{
    flex:2;
    justify-content: center;
    align-items: center;
    flex-grow:1;
}
